Flask==3.1.2
supabase==2.29.0
python-dotenv==1.2.2
flask-cors==6.0.2
Flask-Limiter==4.1.1
flask-talisman==1.1.0
bcrypt==4.2.1
Flask-SocketIO==5.6.0
eventlet==0.40.4
google-genai==1.75.0
gunicorn